@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

body {
  background: hsl(0, 0%, 90%);
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Comfortaa', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: 'Patua One', serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 1rem;
  color: #007489;
}

p {
  margin-bottom: 1.5em;
  color: #898989;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

.masthead {
  background-color: #005b75;
}

.masthead p,
.masthead p a {
  color: white;
}

.site-title {
  color: white;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

header {
  position: sticky; 
  top: 0;
  z-index: 1;
  background-color: #000;
  color: white;
  text-align: center;

}


.tv-show-catalog__item {
  background: white;
  margin-bottom: 2em;
  border-radius: 25px;
}

.tv-show-catalog__item:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
  cursor: pointer;
}

.tv-show-catalog__content h2 {
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: .5em;
  font-weight: bold;
}

.tv-show-catalog__content p {
  font-size: 80%;
}

.tv-show-catalog__description {
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden; 
  height: 7em; 
}

.tv-show-catalog__image {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

@media screen and (min-width: 40em) {
  .tv-show-catalog__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }

  .tv-show-catalog__item {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .tv-show-catalog__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .tv-show-catalog__item {
    flex: 0 1 calc(25% - 1em);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 60%;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.detail {
  display: flex;
  justify-content: space-around;

}

.detail-text {
  display: flex;
  flex-direction: column;
}

.search_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  justify-items: center;
}

.search_tv_shows {
  border-radius: 25px;

}